<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Edit {{invite.guest_1.first_name}} {{invite.guest_1.last_name}} & {{invite.guest_2.first_name}} {{invite.guest_2.last_name}}</title>
    </head>
    <body>
        <h1>Edit {{invite.guest_1.first_name}} {{invite.guest_1.last_name}} & {{invite.guest_2.first_name}} {{invite.guest_2.last_name}}</h1>
        <p>ID = {{invite.id}}</p>
        <form action="/edit_action/invite/{{invite.id}}" method="post">
            {% csrf_token %}
            <p>Greeting</p>
            <input type="text" name="greeting" value="{{invite.greeting}}">
            <p>Passcode</p>
            <input type="text" name="passcode" value="{{invite.passcode}}">
            <p>Opened?</p>
            <select name='opened'>
                {% if invite.opened %}
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                {% else %}
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
                {% endif %}
            </select>
            <p>Completed?</p>
            <select name='completed'>
                {% if invite.completed %}
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                {% else %}
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
                {% endif %}
            </select>
            <p>Form Type?</p>
            <select name='form_type' >
                <option value="0" {% if invite.form_type == 0 %} selected {% endif %}>0</option>
                <option value="1" {% if invite.form_type == 1 %} selected {% endif %}>1</option>
                <option value="2" {% if invite.form_type == 2 %} selected {% endif %}>2</option>
                <option value="3" {% if invite.form_type == 3 %} selected {% endif %}>3</option>
                <option value="4" {% if invite.form_type == 4 %} selected {% endif %}>4</option>
            </select>
            <br />
            <input type='submit' />
        </form>
    </body>
</html>
