{% include "form/greeting.html" %}
<form action="guest_form_two" method="post">
    {% csrf_token %}
    <p>{{invite.guest_1.first_name}}, are you coming to the wedding?</p>
    <select name='attending_one'>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    <p>Are you bringing a guest?</p>
    <select name='plus_one'>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    <p>Guest Name?</p>
    <p>First</p>
    <input type='text' name='guest_first'/>
    <p>Last</p>
    <input type='text' name='guest_last'/>
    <p>{{invite.guest_1.first_name}}, are you staying at the house?</p>
    <select name='staying_one'>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    <p>Is your guest staying at the house?</p>
    <select name='staying_two'>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    <p>{{invite.guest_1.first_name}}'s shirt size?</p>
    <select name='shirt_one'>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
        <option value="XXL">XXL</option>
    </select>
    <p>Guest's shirt size?</p>
    <select name='shirt_two'>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
        <option value="XXL">XXL</option>
    </select>
    <p>Is {{invite.guest_1.first_name}} attending the rehearsal dinner?</p>
    <select name='rehearsal_one'>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    <p>Is your guest attending the rehearsal dinner?</p>
    <select name='rehearsal_two'>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    <p>Is {{invite.guest_1.first_name}} going to play in the color war?</p>
    <select name='color_one'>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    <p>Is your guest going to play in the color war?</p>
    <select name='color_two'>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    <input type='hidden' name='id' value='{{invite.id}}'/>
    <input type='submit' />
</form>
