<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- *~* Wedding Website RSVP Form of Lindsey Butler and Nicholas Chicirda *~* -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Nick and Lindsey - 9.29.18</title>
	<link rel="shortcut icon" href="http://www.nicksey.com/favicon.ico" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
	
<body>
	
	<div id="topNav">
		<div id="topNav_list"><ul>
			<li><a href="http://www.nicksey.com">HOME</a></li>
			<li><a class="active" href="#">RSVP</a></li>
			<li><a href="http://www.nicksey.com#info">VENUE INFO</a></li>
			<li><a href="http://www.nicksey.com#attire">ATTIRE</a></li>
			<li><a href="https://www.zola.com/registry/nicksey">REGISTRY</a></li>
			<li><a href="http://www.nicksey.com/savethedate.html">VIDEO</a></li>
			</ul>
		</div>
	<div id="topNav_Border"></div></div>
	
	<div id="bkgrndContainer">
	
	<form id='passcode' action="passcode" method="post">
            {% csrf_token %}
    
		<div id="rsvp_CodeEnter">
			<p class="title1">DO YOU HAVE YOUR INVITATION?</p>
			<p class="title2">Please find the 4-digit code at the bottom of your invitation and enter below!</p>
		
			<div id="RSVPcode_BorderTop"></div>
			<div id="RSVPcode">
				<div id="boxes"><div id="box"></div><div id="box"></div><div id="box"></div><div id="box"></div></div>
				
				<div id="codeInputContainer"><div id="marginsAuto"><div id="codeInput">
					<input class="rsvp" placeholder="????" type='text' name='passcode' required pattern="[a-zA-Z0-9]{4}" maxlength="4" autocomplete="off" /><br/>
				</div></div></div>
			</div>
			<div id="RSVPcode_BorderBottom"></div>
			
			<div id="submitBtn"><input type='submit' class="rsvpcode" value="SUBMIT" /></div>
			
		</div>
			
	</form>
	
        <div id='gr'>

        </div>
	
	</div>
	
</body>
    
<script>
            $('#passcode').submit(function(e){
                e.preventDefault();

                $.ajax({
                  url: 'form', /* Where should this go? */
                  method: 'post', /* Which HTTP verb? */
                  data: $(this).serialize(), /* Any data to send along? */
                  success: function(serverResponse) { /* What code should we run when the server responds? */
                    $('#gr').html(serverResponse)

                    $('#gr form').submit(function(e){

                        e.preventDefault();

                        $.ajax({
                          url: $('#gr form').attr('action'), /* Where should this go? */
                          method: 'post', /* Which HTTP verb? */
                          data: $(this).serialize(), /* Any data to send along? */
                          success: function(serverResponse) { /* What code should we run when the server responds? */
                            $('#gr').html(serverResponse)
                         }
                        })

                    })
                 }
                })
            })

    </script>
</html>
